@layer primevue, tailwind;

@layer tailwind {
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
}

:root {
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
}