@layer primevue, theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
    --container-container: 800px;

    --max-height-bottom-sheet: 65vh;

    --transition-property-max-width: max-width;
    --transition-property-max-height: max-height;
}

:root {
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
}

:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}
