@layer tailwind-base, primevue, tailwind-utilities;

@layer trailwind-base {}

@layer tailwind-utilities {
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
}

:root {
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
}